<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>

	<body>
		<%- include('./partials/header') %> 
		<h2 class="text-center p-3">Admin Login</h2>
		<div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form action="/admin">
                                <div class="mb-3">
                                  <label for="user" class="form-label">Nombre del Admin:</label>
                                  <input type="text" class="form-control" id="user" name="user" aria-describedby="emailHelp">
                                  <div id="emailHelp" class="form-text">Ingrese sus credenciales de Admin.</div>
                                </div>
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                              </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
       

		<!-- FOOTER -->
		<%- include('./partials/footer') %>
		<!-- JavaScript Bundle with Popper BOOTSRAP -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	</body>

</html>