<footer style="margin-top: 100px;" class=" bg-dark contaner-fluid row align-items-center">
		<div class=" bg-dark contaner-fluid">
			<h6 class="text-center text-white col">soy un footer</h6>
		</div>
</footer>